<div id='about-page' class='main scroll'>
  <span class='logo' style='background-image: url(./res/logo/logo.png);'></span>
  <div class='list'>
    <span class='list-item'>
      <span class='icon no-icon'></span>
      <div class='container'>
        <h2 class='text'>Acode editor {{version}} ({{versionCode}})</h2>
      </div>
    </span>
    {{#webview}}
      <a
        class='list-item no-transform'
        href='https://play.google.com/store/apps/details?id={{packageName}}'
      >
        <span class='icon googlechrome'></span>
        <div class='container'>
          <span class='text'>Webview {{versionName}}</span>
          <span class='value'>{{packageName}}</span>
        </div>
      </a>
    {{/webview}}
    <a class='list-item' href='https://acode.app'>
      <span class='icon acode'></span>
      <div class='container'>
        <span class='text'>Official webpage</span>
      </div>
    </a>
    <a class='list-item' href='https://foxdebug.com'>
      <span class='icon foxdebug'></span>
      <div class='container'>
        <span class='text'>foxdebug.com</span>
      </div>
    </a>
    <a class='list-item' href='mailto:apps@foxdebug.com'>
      <span class='icon gmail'></span>
      <div class='container'>
        <span class='text'>Mail</span>
      </div>
    </a>
    <a class='list-item' href='https://twitter.com/foxdebug'>
      <span class='icon twitter'></span>
      <div class='container'>
        <span class='text'>Twitter</span>
      </div>
    </a>
    <a class='list-item' href='https://www.instagram.com/foxdebug_com/'>
      <span class='icon instagram'></span>
      <div class='container'>
        <span class='text'>Instagram</span>
      </div>
    </a>
    <a class='list-item' href='https://github.com/deadlyjack/acode'>
      <span class='icon github'></span>
      <div class='container'>
        <span class='text'>GitHub</span>
      </div>
    </a>

  <div style='height: 30vh; width: 10vw'></div>
</div>