<div id='about-page' class='main scroll'>
  <span class='logo' style='background-image: url(./res/logo/logo.png);'></span>
  <div class='list'>
    <span class='list-item'>
      <span class='icon no-icon'></span>
      <div class='container'>
        <h2 class='text'>Acode editor {{version}}</h2>
      </div>
    </span>
    {{#webview}}
      <a
        class='list-item no-transform'
        href='https://play.google.com/store/apps/details?id={{packageName}}'
      >
        <span class='icon googlechrome'></span>
        <div class='container'>
          <span class='text'>Webview {{versionName}}</span>
          <span class='value'>{{packageName}}</span>
        </div>
      </a>
    {{/webview}}
    <a class='list-item' href='https://acode.foxdebug.com'>
      <span class='icon acode'></span>
      <div class='container'>
        <span class='text'>Official webpage</span>
      </div>
    </a>
    <a
      class='list-item'
      href='https://telegram.me/joinchat/LbomMBLApFc6fvvdPQMm6w'
    >
      <span class='icon telegram'></span>
      <div class='container'>
        <span class='text'>Telegram</span>
      </div>
    </a>
    <a class='list-item' href='mailto:{{PERSONAL_EMAIL}}'>
      <span class='icon gmail'></span>
      <div class='container'>
        <span class='text'>Mail</span>
      </div>
    </a>
    <a class='list-item' href='https://twitter.com/foxdebug'>
      <span class='icon twitter'></span>
      <div class='container'>
        <span class='text'>Twitter</span>
      </div>
    </a>
    <a class='list-item' href='https://www.instagram.com/foxdebug_com/'>
      <span class='icon instagram'></span>
      <div class='container'>
        <span class='text'>Instagram</span>
      </div>
    </a>
    <a class='list-item' href='https://github.com/deadlyjack/acode'>
      <span class='icon github'></span>
      <div class='container'>
        <span class='text'>GitHub</span>
      </div>
    </a>
    <a class='list-item' href='https://stackoverflow.com/users/9921464'>
      <span class='icon stackoverflow'></span>
      <div class='container'>
        <span class='text'>Stackoverflow</span>
      </div>
    </a>
    <a
      class='list-item'
      href='https://www.youtube.com/channel/UCJuxHnNkBfpilsTyT-rsN2w'
    >
      <span class='icon youtube'></span>
      <div class='container'>
        <span class='text'>YouTube</span>
      </div>
    </a>
    <a class='list-item' href='https://foxdebug.com'>
      <span class='icon foxdebug'></span>
      <div class='container'>
        <span class='text'>foxdebug.com</span>
      </div>
    </a>
    <a href='https://ace.c9.io' class='list-item'>
      <span class='icon no-icon'></span>
      <div class='container'><span class='text'>Ace Editor</span></div>
    </a>
    <a href='https://www.jacklmoore.com/autosize/' class='list-item'>
      <span class='icon no-icon'></span>
      <div class='container'><span class='text'>Autosize</span></div>
    </a>
    <a href='https://cordova.apache.org' class='list-item'>
      <span class='icon no-icon'></span>
      <div class='container'><span class='text'>Apache Cordova</span></div>
    </a>
    <a href='https://babeljs.io' class='list-item'>
      <span class='icon no-icon'></span>
      <div class='container'><span class='text'>Babel js</span></div>
    </a>
    <a href='https://webpack.js.org' class='list-item'>
      <span class='icon no-icon'></span>
      <div class='container'><span class='text'>Webpack</span></div>
    </a>
    <a href='https://github.com/janl/mustache.js/' class='list-item'>
      <span class='icon no-icon'></span>
      <div class='container'><span class='text'>Mustache.js</span></div>
    </a>
    <a href='https://github.com/markedjs/marked' class='list-item'>
      <span class='icon no-icon'></span>
      <div class='container'><span class='text'>Marked</span></div>
    </a>
  </div>

  <div style='height: 30vh; width: 10vw'></div>
</div>