<ul class="list" id="list" empty-msg="{{msg}}">{{#list}}
  {{#.}}
  <li tabindex="1" class="tile" url="{{nativeURL}}" {{#isDirectory}} action="folder" type="folder" {{/isDirectory}}
    {{#readOnly}} read-only="true" {{/readOnly}} {{#isFile}} action="file" type="file" {{/isFile}} name="{{name}}">
    <span class="icon {{type}}"></span>
    <div class="text">
      <span>{{name}}</span>
    </div>
  </li>
  {{/.}}
  {{/list}}</ul>