<div class="list" id="repo-list" empty-message="{{msg}}">{{#list}}{{#.}}
  <div class="list-item" sha="{{sha}}" name="{{name}}"
    action="{{#isDirectory}}navigate{{/isDirectory}}{{#isFile}}file{{/isFile}}">
    <span class="icon {{icon}}"></span>
    <span class="container">
      <div class="text">
        <span>{{name}}</span>
      </div>
      {{#isFile}}
      <small class="value">{{size}}</small>
      {{/isFile}}
    </span>
  </div>
  {{/.}}{{/list}}
</div>