<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Console</title>
    <link rel='stylesheet' href='{{CONSOLE_STYLE}}' />
    <script>
      sessionStorage.setItem('__mode', 'console');
    </script>
    <script src='{{EDITOR_SCRIPT}}' crossorigin='anonymous'></script>
    <script src='{{ESPRISMA_SCRIPT}}' crossorigin='anonymous'></script>
    <script src='{{CONSOLE_SCRIPT}}' crossorigin='anonymous'></script>
    <script src='{{EXECUTING_SCRIPT}}' crossorigin='anonymous'></script>
  </head>

  <body style='background-color: {{BACKGROUND_COLOR_VALUE}};'></body>

</html>