<li action="rename">
  <span class="text">{{string_rename}}</span>
</li>
<li action="syntax">
  <div class="text">
    <span>{{string_syntax}}</span>
    <span class="value">{{file_mode}}</span>
  </div>
</li>
<li action="encoding">
  <div class="text">
    <span>{{string_encoding}}</span>
    <span class="value">{{file_encoding}}</span>
  </div>
</li>
<li action="read-only">
  <div class="text">
    <span>{{string_readOnly}}</span>
    <span class="value">{{file_readOnly}}</span>
  </div>
</li>
<li action="toggle-quick-tools">
  <div class="text">
    <span>{{string_quickTools}}</span>
    <span class="value">{{setting_quickTools}}</span>
  </div>
</li>
<hr>
<li action="cut">
  <div class="text">
    <span>{{string_cut}}</span>
  </div>
</li>
<li action="copy">
  <div class="text">
    <span>{{string_copy}}</span>
  </div>
</li>
<li action="paste">
  <div class="text">
    <span>{{string_paste}}</span>
  </div>
</li>
<li action="select-all">
  <div class="text">
    <span>{{string_selectAll}}</span>
  </div>
</li>
<li action="select-word">
  <div class="text">
    <span>{{string_selectWord}}</span>
  </div>
</li>
<li action="color">
  <div class="text">
    <span>{{string_color}}</span>
  </div>
</li>