<li action="file-info" {{^file_info}}class="disabled" {{/file_info}}>
  <span class="text">{{file properties}}</span>
  <span class="icon info"></span>
</li>
<hr>
<li action="rename">
  <span class="text">{{rename}}</span>
</li>
<li action="syntax">
  <div class="text">
    <span>{{syntax highlighting}}</span>
    <span class="value">{{file_mode}}</span>
  </div>
</li>
<li action="encoding">
  <div class="text">
    <span>{{encoding}}</span>
    <span class="value">{{file_encoding}}</span>
  </div>
</li>
<li action="eol">
  <div class="text">
    <span>{{new line mode}}</span>
    <span class="value">{{file_eol}}</span>
  </div>
</li>
<li action="read-only">
  <div class="text">
    <span>{{read only}}</span>
  </div>
  <label class="input-checkbox">
    <input type="checkbox" {{#file_read_only}}checked{{/file_read_only}}>
    <span class="box"></span>
  </label>
</li>
<li action="format">
  <div class="text">
    <span>{{format}}</span>
  </div>
</li>
<hr>
<li action="find">
  <span class="text">{{search}}</span>
  <span class="icon search"></span>
</li>
<li action="goto">
  <span class="text">{{goto}}</span>
  <span class="icon subdirectory_arrow_left"></span>
</li>
<hr>
<li action="insert-color">
  <span class="text">{{insert color}}</span>
  <span class="icon color_lenspalette"></span>
</li>
<hr>
<li action="cut">
  <div class="text">
    <span>{{cut}}</span>
  </div>
</li>
<li action="copy">
  <div class="text">
    <span>{{copy}}</span>
  </div>
</li>
<li action="paste">
  <div class="text">
    <span>{{paste}}</span>
  </div>
</li>
<li action="select-all">
  <div class="text">
    <span>{{select all}}</span>
  </div>
</li>
<li action="select-word">
  <div class="text">
    <span>{{select word}}</span>
  </div>
</li>