<li action="rename">
  <span class="text">{{rename}}</span>
</li>
<li action="syntax">
  <div class="text">
    <span>{{syntax highlighting}}</span>
    <span class="value">{{file_mode}}</span>
  </div>
</li>
<li action="encoding">
  <div class="text">
    <span>{{encoding}}</span>
    <span class="value">{{file_encoding}}</span>
  </div>
</li>
<li action="read-only">
  <div class="text">
    <span>{{read only}}</span>
    <span class="value">{{file_readOnly}}</span>
  </div>
</li>
<li action="toggle-quick-tools">
  <div class="text">
    <span>{{quick tools}}</span>
    <span class="value">{{setting_quickTools}}</span>
  </div>
</li>
<li action="format">
  <div class="text">
    <span>{{format}}</span>
  </div>
</li>
<hr>
<li action="goto">
  <span class="text">{{goto}}</span>
  <span class="icon subdirectory_arrow_left"></span>
</li>
<li action="find">
  <span class="text">{{search}}</span>
  <span class="icon search"></span>
</li>
<hr>
<li action="cut">
  <div class="text">
    <span>{{cut}}</span>
  </div>
</li>
<li action="copy">
  <div class="text">
    <span>{{copy}}</span>
  </div>
</li>
<li action="paste">
  <div class="text">
    <span>{{paste}}</span>
  </div>
</li>
<li action="select-all">
  <div class="text">
    <span>{{select all}}</span>
  </div>
</li>
<li action="select-word">
  <div class="text">
    <span>{{select word}}</span>
  </div>
</li>
<li action="color">
  <div class="text">
    <span>{{color}}</span>
  </div>
</li>