<div id='file-info'>
  <div class='name'>
    <span class='text'>{{name}}</span>
  </div>
  <div>
    <span>{{lang.size}}</span>
    <span>{{length}}</span>
  </div>
  <div class='lm'>
    <span>{{lang.last modified}}</span>
    <span>{{lastModified}}</span>
  </div>
  <div>
    <span>{{lang.line count}}</span>
    <span>{{lineCount}}</span>
  </div>
  <div>
    <span>{{lang.word count}}</span>
    <span>{{wordCount}}</span>
  </div>
  <div>
    <span>{{lang.type}}</span>
    <span>{{type}}</span>
  </div>
  <div class='location'>
    <span>{{lang.path}}</span>
    <span class='scroll'>{{showUri}}</span>
  </div>
  <button class='share-button' action='share' value='{{shareUri}}'>
    <span class='icon share'></span>
    <span class='text'>{{lang.share}}</span>
  </button>
</div>