<li action="newFile">{{new file}}</li>
<li action="save" class="disabled">{{save}}</li>
<li action="saveAs" class="disabled">{{save as}}</li>
<li action="openFile">{{open file}}</li>
<li action="openFolder">{{open folder}}</li>
<hr>
<li action="goto" class="disabled">{{goto}}</li>
<hr>
<li action="console">{{console}}</li>
<hr>
<li action="settings">{{settings}}</li>
<li action="help">{{help}}</li>