<div class="list-item {{#disable}}disabled{{/disable}}" action="select-theme" tabindex="0" name="{{theme}}"
  mode="{{mode}}" type="{{type}}">
  <span class="icon color {{type}}"></span>
  <div class="container">
    <span class="text">{{name}}</span>
  </div>
  {{#default}}
  <span class="icon check"></span>
  {{/default}}
  {{#paid}}
  <span class="icon stars"></span>
  {{/paid}}
</div>