<div class="product">
  <img src="{{image}}" alt="{{id}}">
  <div class="product-info">
    <p>{{description}}</p>
    <div class="button-container primary">
      <button action="donate" value="{{json}}">{{donate}}</button>
    </div>
  </div>
</div>