<div id='custom-theme' class='main'>
  <div id='color-list' class='list scroll'>
    {{#colors}}
      <div
        class='list-item'
        action='set-color'
        tabindex='0'
        value='{{value}}'
        name='{{color}}'
      >
        <style>
          .{{color}}::before{ background-color:{{value}}!important; }
        </style>
        <span class='icon color {{color}}'></span>
        <div class='container'>
          <span class='text'>{{text}}</span>
        </div>
      </div>
    {{/colors}}
  </div>
</div>